html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-main {
  margin-left: 59px;
}

.bold-nav {
  margin-left: 90px;
  margin-top: 30px;
}

.bold-nav-description {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}
.nav-padd {
  margin-top: 33px;
  padding-right: 21px;
}
.nav-left {
  padding-left: 76px;
}
.pages-nav-description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.btn-disciption {
  margin-top: 40px;
  padding: 15px 40px;
  background-color: #fc724d;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
}
.main_container{
  margin-top: 70px;
  margin-left: 198px;
  width: 691px;
  height: 134px;
}
.team_main{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fc724d;
}
.team_text{
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.team_decript{
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.row{
  margin-top: 70px;
  margin-left: 195px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.card1{
  width: 238px;
  height: 375px;
  border-radius: 20px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.doctor_image{
  width: 238px;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card1_content{
  width: 232px;
  height: 144px;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.user_name{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.user_prof{
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.social{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}
.asd{
  border: none;
  background: none;
}