html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-main {
  margin-left: 59px;
}

.bold-nav {
  margin-left: 90px;
  margin-top: 30px;
}

.bold-nav-description {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}
.nav-padd {
  margin-top: 33px;
  padding-right: 21px;
}
.nav-left {
  padding-left: 76px;
}
.pages-nav-description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.btn-disciption {
  margin-top: 40px;
  padding: 15px 40px;
  background-color: #fc724d;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
}

.advice_descript {
  margin-top: 112px;
  margin-left: 198px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  color: #fc724d;
}
.main_head2 {
  margin-left: 198px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.p_descript {
  margin-left: 198px;
  padding-bottom: 112px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 469px;
  height: 40px;
  color: #737373;
}
.card_1 {
  margin-right: 30px;
  margin-left: 195.5px;
  width: 238px;
  height: 292px;
  box-shadow: 2px 0px 19px 0px rgba(0, 0, 0, 7%),
    -2px 0px 19px 0px rgba(0, 0, 0, 7%), 0px 13px 19px 0px rgba(0, 0, 0, 7%);
}
.card_1:hover {
  background-color: #fc724d;
  color: white;
  height: 312px;
  .card1_text {
    color: white;
  }
  .underline_img {
    filter: brightness(0) invert(1);
  }
}
.card1_descript {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
}
.card1_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  width: 180px;
  height: 60px;
  color: #737373;
}
.def_img {
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.underline_img {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card_2 {
  margin-right: 30px;
  width: 241px;
  height: 292px;
  box-shadow: 2px 0px 19px 0px rgba(0, 0, 0, 7%),
    -2px 0px 19px 0px rgba(0, 0, 0, 7%), 0px 13px 19px 0px rgba(0, 0, 0, 7%);
}
.card2_descript {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
}
.card2_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  width: 180px;
  height: 60px;
  color: #737373;
}
.card_2:hover {
  background-color: #fc724d;
  color: white;
  height: 312px;
  .card2_text {
    color: white;
  }
  .underline_img {
    filter: brightness(0) invert(1);
  }
}
.card_3 {
  margin-right: 30px;
  width: 240px;
  height: 292px;
  box-shadow: 2px 0px 19px 0px rgba(0, 0, 0, 7%),
    -2px 0px 19px 0px rgba(0, 0, 0, 7%), 0px 13px 19px 0px rgba(0, 0, 0, 7%);
}
.card3_descript {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
}
.card3_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  width: 180px;
  height: 60px;
  color: #737373;
}
.card_3:hover {
  background-color: #fc724d;
  color: white;
  height: 312px;
  .card3_text {
    color: white;
  }
  .underline_img {
    filter: brightness(0) invert(1);
  }
}
.card_4 {
  width: 240px;
  height: 292px;
  box-shadow: 2px 0px 19px 0px rgba(0, 0, 0, 7%),
    -2px 0px 19px 0px rgba(0, 0, 0, 7%), 0px 13px 19px 0px rgba(0, 0, 0, 7%);
}
.card4_descript {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
}
.card4_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  width: 180px;
  height: 60px;
  color: #737373;
}
.card_4:hover {
  background-color: #fc724d;
  color: white;
  height: 312px;
  .card4_text {
    color: white;
  }
  .underline_img {
    filter: brightness(0) invert(1);
  }
}
.card_container {
  display: flex;
}
