html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-main {
  margin-left: 59px;
}

.bold-nav {
  margin-left: 90px;
  margin-top: 30px;
}

.bold-nav-description {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}
.nav-padd {
  margin-top: 33px;
  padding-right: 21px;
}
.nav-left {
  padding-left: 76px;
}
.pages-nav-description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.btn-disciption {
  margin-top: 40px;
  padding: 15px 40px;
  background-color: #fc724d;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
}
.page_desc{
  width: 1050px;
  height: auto;
  margin-left: 195px;
}
.main_container{
  width: 691px;
  height: auto;
  margin-left: 95px;
  margin-top: 130px;
  margin-bottom: 50px;
}
.main_cont{
  color: #fc724d;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.main_text{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #252B42;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main_desc{
  text-align: center;
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}
.input_email{
  width: 571px;
  height: 58px;
  padding: 17px 15px 20px;
  border-radius: 0px 0px 0px 0px;
  border: 2px solid #E6E6E6;
}
.input_email::placeholder{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #737373;
}
.button_sub{
  font-family: Montserrat;
  width: 117px;
  height: 58px;
  text-decoration: none;
  color: white;
  background-color: #fc724d;
  padding: 13px 22.5px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 0px 5px 6px 0px;
  border: 2px solid #E6E6E6;
  font-weight: 700;
}
.input{
  margin-left: 150px;
  margin-bottom: 215px;
  width: 571px;
  height: 58px;
  display: flex;
  background: #F9F9F9;
}
.column h5{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.column a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}
.column{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.gap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.row{
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.container{
  margin-left: 100px;
  width: 1050px;
  height: 200px;
}
.col_inf{
  display: flex;
  width: 321px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
} 
.column img{
  display: flex;
}
.img_cont{
  display: flex;
  align-items: center;
  gap: 10px;
}
.column h6{
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}
.cont_text{
  display: flex;
  width: 1050px;
  padding: 25px 0px;
  flex-direction: column;
  align-items: flex-start;
}
.cont_text p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}
.container_2{
  display: flex;
  width: 1440px;
  height: 74px;
  padding: 0px 195px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #FAFAFA;
}
.cont_img{
  display: flex;
  width: 236px;
  flex-direction: column;
  align-items: center;
}
.incont_img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.incont_img button{
  border: none;
  background: none;
}